.background {
  background-color: black;
  background-image: url(./images/forest.jpg);
  height:200%;
  margin-top: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  cursor: url("./images/hammer.png"), default;
}

/************
MAIN MENU  
************/

#main-menu {
  z-index: 999;
}

/* Game title */
h1 {
  /* color: #f89c54; */
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 144px;
  margin: 2%;

  /* background: -webkit-linear-gradient(rgb(120, 224, 134), rgb(95, 95, 95)); */
  background: -webkit-linear-gradient(rgb(3, 247, 32), rgba(245, 111, 2, 0.856));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
.menu-buttons {
  display:flex;
  width:400px;
  height:500px;
  margin:auto;
  flex-direction: column;
  justify-content:flex-start;
}
.menu-buttons button {
  /* width: 100px; */
  margin: 0 10px 0 10px;
  height: 55px;
  line-height: 55px;
  width: 300px;
  /* border: 9px solid hotpink; */
  font-size: 36px;
  color: white;
  background-color: rgb(62, 63, 63);
  opacity:0.8;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25%;
}
.menu-buttons a {
  text-decoration:none;
}

/********
GAME AREA
********/

/* Question */
/* For cloud text: https://codepen.io/CameronFitzwilliam/pen/pamobO */
h2 {
  color: white;
  text-align: center; 
  font-size: 72px; 
  margin: 1%;
  margin: auto;
  margin-top: 5%;
  background-color: rgb(62, 63, 63,0.8);
  width: 50%;
}
.boxes div {
  height: 200px;
  width: 200px;
  border: 9px solid rgb(3, 247, 32);
  font-size: 36px;
  color: white;
  background-color: rgb(95, 154, 128);
  text-align: center;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
}

#timer {
  /* color : #89CFF0; */
  color:rgb(221, 216, 216);
  background-color: rgb(62, 63, 63,0.8);
  font-size: 48px;
  font-weight: bold;

  text-align:center;
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  margin-bottom:10px;
  margin-top: 20px;
}


.instruction-message {
  background-color:white;
  display:flex;
  justify-content:space-around;
  width:300px;
  margin:auto;
}
.instruction-message * {
  
  text-decoration-color: blue;
}
