.background {
  background: url(images/forest.jpg) no-repeat center center fixed;
  background-size: cover;
  cursor: url("./images/hammer.png"), default;
}

/************
MAIN MENU  
************/

#main-menu {
  z-index: 999;
}

/* Game title */
h1 {
  /* color: #f89c54; */
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 750%;
  margin: 2%;
  margin-bottom: 7.5%;
  /* background: -webkit-linear-gradient(rgb(120, 224, 134), rgb(95, 95, 95)); */
  background: -webkit-linear-gradient(rgb(3, 247, 32), rgba(245, 111, 2, 0.856));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
.menu-buttons {
  display:flex;
  width:100%;

  margin:auto;
  flex-direction: column;
  justify-content:center;
}
.menu-buttons button {
  /* width: 100px; */
  margin: auto;
  height: 5%;
  /* line-height: 55px; */
  width: 7.5em;
  /* border: 9px solid hotpink; */
  font-size: 225%;
  color: white;
  background-color: rgb(62, 63, 63);
  opacity:0.8;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 6.25%;
}
.menu-buttons a {
  text-decoration:none;
}

/********
GAME AREA
********/

/* Question */
/* For cloud text: https://codepen.io/CameronFitzwilliam/pen/pamobO */
h2 {
  color: white;
  text-align: center; 
  font-size: 48px; 
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(62, 63, 63,0.8);
  width: 100%;
  height: 10%;
}

.boxes {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 70%;
}



.boxes div {
  height: 24%;
  width: 24%;
  border: 4px groove rgb(233, 193, 16);
  padding: 2%;
  font-size: 36px;
  color: white;
  background-color: rgb(65, 114, 93);
  text-align: center;
  font-size: 1.75vw;
}


#menu {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
}

#timer {
  /* color : #89CFF0; */
  color:rgb(221, 216, 216);
  background-color: rgb(62, 63, 63,0.8);
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 10%;
  text-align:center;
  margin: auto;
  width: 100%;
  /* padding: 20px;
  margin-bottom:10px;
  margin-top: 20px; */
}

#end-results  {
  position: absolute;
  bottom: 50%;
  left: 25%;
  color: white;
  background-color: rgba(62,63,63,0.8);

  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 350%;
}

#end-results button {
  background-color: rgb(62, 63, 63);
  width: 50%;
  color: white;
  font-size: 75%;
}


.instruction-message {
  background-color:white;
  display:flex;
  justify-content:space-around;
  width:300px;
  margin:auto;
}
.instruction-message * {
  
  text-decoration-color: blue;
}
