body {
  width: 100%;
  margin: auto;
  font-family: Lucida Sans;
}

.background {
  background: url(images/forest.jpg) no-repeat center center fixed;
  background-size: cover;
  cursor: url("./images/hammer.png"), default;
}

/************
MAIN MENU  
************/

#main-menu {
  z-index: 999;
}

/* Game title */
h1 {
  font-family: "Unica One", cursive;
  text-align: center;
  font-size: 750%;
  margin: 2%;
  margin-bottom: 7.5%;
  background: -webkit-linear-gradient(
    rgb(3, 247, 32),
    rgba(245, 111, 2, 0.856)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.menu-buttons {
  display: flex;
  width: 100%;

  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.menu-buttons button {
  margin: auto;
  height: 5%;
  width: 7.5em;
  font-size: 225%;
  color: white;
  background-color: rgb(62, 63, 63);
  opacity: 0.8;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 6.25%;
}
.menu-buttons a {
  text-decoration: none;
  cursor: url("images/hammer.png"), default;
}

/********
GAME AREA
********/

/* Question */
/* For cloud text: https://codepen.io/CameronFitzwilliam/pen/pamobO */
h2 {
  color: white;
  text-align: center;
  font-size: 48px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(62, 63, 63, 0.8);
  width: 100%;
  height: 10%;
}

.boxes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.boxes div {
  height: 24%;
  width: 24%;
  border: 4px groove rgb(233, 193, 16);
  padding: 2%;
  color: white;
  background-color: rgb(65, 114, 93);
  text-align: center;
  font-size: 1.15vw;
  word-wrap: break-word;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
}

#timer {
  color: rgb(221, 216, 216);
  background-color: rgb(62, 63, 63, 0.8);
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 10%;
  text-align: center;
  margin: auto;
  width: 100%;
}

#end-results {
  color: white;
  background-color: rgba(62, 63, 63, 0.8);
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 350%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#end-results button {
  background-color: rgb(62, 63, 63);
  width: 50%;
  color: white;
  font-size: 75%;
}

.instruction-message {
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}
.instruction-message * {
  text-decoration-color: blue;
  text-align: center;
}

/********
Settings
********/
.settings-background {
  background: url(images/forest.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.page-titles {
  font-family: "Unica One", cursive;
  text-align: center;
  font-size: 500%;
  margin: 2%;
  background: -webkit-linear-gradient(
    rgb(3, 247, 32),
    rgba(245, 111, 2, 0.856)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*********
Instructions
**********/
#instructions-message {
  color: rgb(214, 209, 209);
  font-size: 30px;
  margin: 0 10px 0 10px;
}

p#instructions-message {
  text-align: center;
}

.main-return {
  margin: auto;
  background-color: rgb(118, 118, 228);
  font-size: 20px;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

#content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 63, 63, 0.8);
  height: 40vh;
  border: 12px ridge orange;
  margin: auto;
  width: 80%;
}

/*************
Responsiveness
*************/

@media only screen and (max-width: 320px) {
  body {
    margin: auto;
  }

  h1 {
    width: 50%;
    font-size: 375%;
    margin: auto;
  }
}
